@font-face {
  font-family: NetflixSans-Regular;
  src: url(./fonts/NetflixSans-Regular.otf);
}
* {
  box-sizing: border-box;
}
body {
  background-color: #111;
  color: #fff;
  margin: 0;
  font-family: NetflixSans-Regular;
}
.lists {
  margin-top: -150px;
}
